body {
    background-color: #070716;
    font-size: 1em;
    line-height: 1.4;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: block;

}

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

html, button, input, select, textarea {
    color: #222;
    font-family: sans-serif;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.site-wrapper {
    min-height: 100%;
    margin-top: 0;
    margin-bottom: -126px;
    background-color: #070716;
    box-shadow: 0 10px 25px #000;
    position: relative;
}

.site-wrapper:after {
    height: 42px;
    content: "";
    display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, div {
    display: block;
}

.global-nav-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,.7);
    cursor: pointer;
}

.site-wrapper .head-fade {
    width: 100%;
    height: 165px;
    background: linear-gradient(to bottom,rgba(7,7,22,.7) 0,rgba(7,7,22,.3) 70%,rgba(7,7,22,0) 100%);
    background-image: linear-gradient(rgba(7, 7, 22, 0.701961) 0px, rgba(7, 7, 22, 0.298039) 70%, rgba(7, 7, 22, 0) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 80;
    pointer-events: none;
}

.global-header {
    width: 100%;
    padding-top: 38px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    z-index: 90;
    line-height: 10px;
    color: #fff;
    	
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(173, 173, 173);
}

.top-cta {
    height: 80px;
    width: 100%;
    z-index: 99;
    background-color: #1a1a1a;
}

.top-cta .driver-promo-cta {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 700px;
}

.yui3-g {
    letter-spacing: -.31em;
    text-rendering: optimizespeed;
}

.top-cta .car-img-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
}

.yui3-u-1-4 {
    width: 25%;
}

.yui3-u-1, .yui3-u-1-2, .yui3-u-1-3, .yui3-u-2-3, .yui3-u-1-4, .yui3-u-3-4, .yui3-u-1-5, .yui3-u-2-5, .yui3-u-3-5, .yui3-u-4-5, .yui3-u-1-6, .yui3-u-5-6, .yui3-u-1-8, .yui3-u-3-8, .yui3-u-5-8, .yui3-u-7-8, .yui3-u-1-12, .yui3-u-5-12, .yui3-u-7-12, .yui3-u-11-12, .yui3-u-1-24, .yui3-u-5-24, .yui3-u-7-24, .yui3-u-11-24, .yui3-u-13-24, .yui3-u-17-24, .yui3-u-19-24, .yui3-u-23-24 {
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
}

.car-lineup-bg {
    width: 170px;
    height: 52px;
    background: transparent url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/global/car-lineup-small@1x.png) no-repeat left top;
    background-size: 170px 52px;
}

.top-cta .driver-promo-cta .driver-value-prop {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    text-align: right;
    margin: 0 20px;
    width: 300px;
}

.yui3-u-1, .yui3-u-1-2, .yui3-u-1-3, .yui3-u-2-3, .yui3-u-1-4, .yui3-u-3-4, .yui3-u-1-5, .yui3-u-2-5, .yui3-u-3-5, .yui3-u-4-5, .yui3-u-1-6, .yui3-u-5-6, .yui3-u-1-8, .yui3-u-3-8, .yui3-u-5-8, .yui3-u-7-8, .yui3-u-1-12, .yui3-u-5-12, .yui3-u-7-12, .yui3-u-11-12, .yui3-u-1-24, .yui3-u-5-24, .yui3-u-7-24, .yui3-u-11-24, .yui3-u-13-24, .yui3-u-17-24, .yui3-u-19-24, .yui3-u-23-24 {
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
}

.top-cta .driver-promo-cta .driver-value-prop h5 {
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}

p, a, h1, h2, h3, h4, h5 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

p, a, h1, h2, h3, h4, h5, li, select, option, input, button, label {
    font-family: ff-clan-web-pro-wide,sans-serif;
    font-weight: 400;
}

h5 {
    display: block;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.top-cta .driver-promo-cta .driver-value-prop {
    line-height: 20px;
    text-align: right;
}

.top-cta .btn-wrapper {
    line-height: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.yui3-u-1-4 {
    width: 25%;
}

.top-cta .btn-wrapper .btn {
    background-color: #1fbad6;
}

.global-header a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.btn {
    padding-top: 5px;
    padding-right: 8px;
    border-top-color: rgb(31, 186, 214);
    border-top-style: solid;
    border-top-width: 2px;
    border-radius: 2px;
}

a{
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: auto;
}

.top-cta .icon-close {
    position: absolute;
    top: 30px;
    right: 30px;
}

.icon-untitled, .icon-heart, .icon-globe, .icon-world, .icon-windows, .icon-uptriangle, .icon-uberx, .icon-twitter, .icon-thin_plus, .icon-taxi, .icon-suv, .icon-star, .icon-share, .icon-search, .icon-rightarrow, .icon-right_thin, .icon-plus, .icon-moto, .icon-minus, .icon-menu, .icon-mail, .icon-lux, .icon-logo, .icon-left_thin, .icon-instagram, .icon-googleplus, .icon-googleplay, .icon-facebook, .icon-downtriangle, .icon-downarrow, .icon-close, .icon-check, .icon-chat, .icon-blackberry, .icon-black, .icon-apple, .icon-lightbulb, .icon-instagram2, .icon-seal, .icon-thumbsup, .icon-pin, .icon-signup-downarrow, .icon-signup-uparrow, .icon-vehiclearrow-left, .icon-vehiclearrow-right, .icon-modal-close, .icon-nav-rightarrow, .icon-mobilemodalclose, .icon-leftarrow, .icon-error, .icon-avatar, .icon-deposit, .icon-payment, .icon-schedule, .icon-linkedin, .icon-linkedin_box, .icon-phone, .icon-time, .icon-money {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}



.pull-left {
    float: left;
}

.global-header .menu {
    position: relative;
}

.global-header .menu .menu-text {
    padding-left: 38px;
}

.global-header .actions {
    text-align: right;
}

.global-header p {
    line-height: 10px;
}

.pull-right {
    float: right;
}

p, ul {
    font-size: 14px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.global-header .actions a {
    padding-top: 5px;
    padding-right: 12px;
    padding-bottom: 5px;
    padding-left: 12px;
}

a.ga-click-track.js-login-link {
    font-family: ff-clan-web-pro-wide,sans-serif;
    font-weight: 400;
}

@media screen and (min-width: 1000px)
.res-l-hidden {
    display: none;
}

.center {
    text-align: center;
}

.block-center {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: block;
}

.yui3-u-1-3 {
    width: 33.33333%;
}

.global-header .uber-logo {
    position: relative;
    top: -9px;
    text-align: center;
}

.uber-logo, .light .down-page .uber-logo {
    display: inline-block;
    width: 167px;
    height: 23px;
    background: transparent url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/global/logo-web-light@1x.png) no-repeat left top;
    background-size: 167px 23px;
    background-color: transparent;
    border: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

script {
    display: none;
}

.hero {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.carousel-container__slide {
    height: 100%;
    width: 100%;
}

.hero-slide-image-viewport {
    height: 95vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media screen and (min-width: 1001px)
.slide1 {
    background-image: url("https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/heros/modern/hero45kf34_1400.jpg");
}

.hero-slide-image {
    height: 100%;
    width: 100%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-container__slide--active .hero-slide__content {
    z-index: 100;
}

.hero-slide__content {
    pointer-events: none;
}

.hero-slide__content--left {
    position: absolute;
    top: 45%;
    color: #fff;
    width: 100%;
}

@media screen and (max-width: 1400px) and (min-width: 1001px)
.hero-slide__content--left .content__headline {
    font-size: 44px;
    line-height: 52px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: calc(5% - 4px);
    margin-right: 5%;
}

.hero-slide__content--left .content__headline {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: none;
}

:-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1 {
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.hero-slide__content--left {
    position: absolute;
    top: 45%;
    color: #fff;
    width: 100%;
}

@media screen and (max-width: 1400px) and (min-width: 1001px)
.hero-slide__content--left .content__subheadline {
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    margin-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

.hero-slide__content--left .content__subheadline {
    display: block;
font-weight: 500;
    text-transform: uppercase;
}


@media screen and (max-width: 1400px) and (min-width: 1001px)
.hero-slide__content--left .content__cta {
    font-size: 16px;
    width: 240px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 12px 8px;
}

.hero-slide__content--left .content__cta {
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    border: 2px solid #1EACC7;
    background-color: #1EACC7;
    border-radius: 3px;
    cursor: pointer;
}
.hero-slide__content a {
    pointer-events: all;
}


.carousel-container__slide--passive {
    left: 100%;
    top: 0;
    position: absolute;
}

.carousel-container__slide--passive .hero-slide-image-viewport {
    position: relative;
    z-index: 50;
}

@media screen and (min-width: 1001px)
.slide2 {
    background-image: url("https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/heros/modern/hero02a_1400.jpg");
}
.hero-slide-image {
    height: 100%;
    width: 100%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-container__slide--passive .hero-slide__content {
    z-index: 70;
}

.nav-arrow-container__mouse-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 80;
}

.nav-arrow--left {
    left: 1.2%;
    transform: scaleX(-1);
}

.nav-arrow--hidden {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: arrow-fade-out;
    cursor: pointer;
    pointer-events: none;
}

.nav-arrow--active {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: arrow-fade-in;
}

@media screen and (min-width: 1001px)
.nav-arrow {
    display: block;
    margin-top: -25px;
    width: 25px;
    height: 50px;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    opacity: 0.65;
    background: no-repeat url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%2…00.2%2C38.2%2C400%2C38.3%2C399.8%2C38.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
    z-index: 100;
}

@media screen and (min-width: 1001px)
.slide3 {
    background-image: url("https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/heros/modern/heroUN_1400.jpg");
}
.hero-slide-image {
    height: 100%;
    width: 100%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-arrow--right {
    right: 1.2%;
}

.nav-breadcrumbs-container {
    position: absolute;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    left: 0;
    right: 0;
    bottom: 50px;
    text-align: center;
    pointer-events: none;
    z-index: 100;
}

