body {
background-color: #070716;
height:100%;
font-size: 1em;
line-height: 1.4;
margin:0;
display: block;
padding: 25px;
}

form{
text-align: center;
}

.form{
max-width: 550px;

}

.form-group {
    margin-bottom: 6px;
}

.push--bottom, .push--ends {
    margin-bottom: 24px !important;
}

.label {
    color: #c0c0c8;
    display: block;
    cursor: pointer;
    margin-bottom: 6px;
    font-size: 11px;
    font-weight: 500;
    font-family: ff-clan-web-pro-wide, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
left:0%;
}

#p1{
    margin-left: 116px;
}

.text-input, .input-group, .select {
    width:70%;
    padding: 0.625em 0.75em;
    margin-bottom: 12px;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 3px;
    outline: none;
    line-height: 1.25;
    height: 50px;
    color: #09091a;
font-weight: 500;

}

.text-input{
    transition: all 200ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.72, 0.01, 0.56, 1);
    transition-delay: initial;
}

 input {
    font: inherit;
    margin: 0;
    width:70%;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-writing-mode: horizontal-tb;
}

input[type="checkbox" i] {
    margin: 3px 3px 3px 4px;
    width:70%;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="checkbox" i] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}
input[type="radio" i], input[type="checkbox" i] {
    margin: 3px 0.5ex;
    padding: initial;
    background-color: initial;
    border: initial;
}

input[type="password" i] {
    -webkit-text-security: disc;
}

.checkbox, .radio {
    display: inline-block;
    position: relative;
    padding-left: 36px;
    margin-bottom: 12px;
    line-height: 24px;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox:before, .radio:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: white;
    border: 1px solid #cccccc;
    content: "";

    transition: all 200ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function:
cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.checkbox:after {
    width: 11px;
    height: 7px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(31, 186, 214);
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: rgb(31, 186, 214);
}

.checkbox:after, .radio:after {
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    opacity: 10;
    content: "";
    transform: rotate(-45deg);

    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.72, 0.01, 0.56, 1);
    transition-delay: initial;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.72, 0.01, 0.56, 1);
    transition-delay: initial;
}

*:after{
box-sizing: border-box;
}

.btn--full {
    width: 100%;
}

.btn--huge {
    padding: 1.5em 3.5em;
}

.btn {
    text-transform: uppercase;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.21429;
    width:70%;
    font-weight: 500;
        font-family: ff-clan-web-pro-wide, "Helvetica Neue", Helvetica, sans-serif;

}


.btn, .btn:hover, .btn:active, .btn:focus {
    text-decoration: none;
    color: white;
}
.btn {
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    margin: 0;
    cursor: pointer;
    overflow: visible;
    background-color: #1fbad6;
    border: 1px solid #1fbad6;

transition: all 200ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.72, 0.01, 0.56, 1);
    transition-delay: initial;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
        align-items: flex-start;
    text-indent: 0px;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
-webkit-writing-mode: horizontal-tb;
}

.text--center {
    text-align: center !important;
}

.push--top, .push--ends {
    margin-top: 24px !important;
}

.btn--link, .btn--link:hover {
    background-color: transparent;
    color: #1fbad6;
    border: 0;
    text-transform: none;
    font-weight: normal;
}

a {
    background: transparent;
}

hr {
    border: 0;
    border-bottom: 1px solid #464646;
    border-top: 1px solid #e6e6e6;
    margin-bottom: 24px;
    margin-left: 90px;
    margin-right: 0px;    
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    box-sizing: content-box;
    height: 0;
    width:70%;
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
}












html, button, input, select, textarea {
color: #222;
font-family: ff-clan-web-pro-wide,sans-serif;
}

.focused-view {
border: 0;
margin-top: 0;
margin-top: 20px;
margin-top: 20px;
margin-top: 20px;
}

.section-dark{
color: #fff;
}

section{
display: block;
}

*{
box-sizing: border-box;
}

div{
display: block;
}

.yui3-g{
letter-spacing: -.31em;
text-redering: optimizespeed;
}

.signin-content{
margin-top: 0 ;
margin-right: auto;
display: block;
max-width: 620px;
}

.yui3-u-5-12{
zoom:1;
letter-spacing: normal;
word-spacing: normal;
vertical-align: top;
text-rendering: auto;
}

.yui3-u-m-1 {
    display: block;
    width: 100%;
}

p{
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

p {
    line-height: 0.1em;
    font-size: 11px;
    font-family: ff-clan-web-pro-wide,sans-serif;
    font-weight: 400;
}

p span { 
    background:#00001a; 
    padding:10px; 
}

.center {
    text-align: center;
}

.focused-view-subtitle.border-center:after {
    margin-top: -12px;
}

.uber-logo-container {
    margin-bottom: 10px;
}

.uber-logo, .light .down-page .uber-logo {
    display: inline-block;
    width: 167px;
    height: 23px;
    background: transparent url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/global/logo-web-light@1x.png) no-repeat left top;
    background-size: 167px 23px;
    background-color: transparent;
    border: 0;
    overflow: hidden;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

.focused-view-subtitle {
    margin-bottom: 30px;
    font-size: 17px;
    color: #c2c2c2;
    text-transform: uppercase;
width:70%;
}

.btn-driver:hover {
    background-color: #c2c2c2;
    border: 2px solid #c2c2c2;
}

.btn-filled {
    background-color: #1fbad6;
}


.focused-view-subtitle.border-center {
    margin-bottom: 22px;
}


























element.style {
}
@media (max-width: 500px)
.focused-view-subtitle.border-center {
    margin-bottom: 22px;
}
@media (max-width: 500px)
.focused-view-subtitle {
    font-size: 11px;
}
.focused-view-subtitle {
    margin-bottom: 30px;
}
.focused-view-subtitle {
    font-size: 17px;
    color: #c2c2c2;
    text-transform: uppercase;
}
.center {
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}
.border-center {
    margin-bottom: 12px;
}
@media screen and (max-width: 500px)
p {
    line-height: 20px;
}
@media screen and (max-width: 500px)
p, ul {
    font-size: 11px;
}
p {
    line-height: 27px;
}
p, ul {
    font-size: 14px;
}
p, a, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
p, a, h1, h2, h3, h4, h5, li, select, option, input, button, label {
    font-family: ff-clan-web-pro-wide,sans-serif;
    font-weight: 400;
}
p, pre {
    margin: 1em 0;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheetp {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
Inherited from article.signin-content.yui3-u-5-12.yui3-u-m-1.yui3-u-s-1
.yui3-u-1, .yui3-u-1-2, .yui3-u-1-3, .yui3-u-2-3, .yui3-u-1-4, .yui3-u-3-4, .yui3-u-1-5, .yui3-u-2-5, .yui3-u-3-5, .yui3-u-4-5, .yui3-u-1-6, .yui3-u-5-6, .yui3-u-1-8, .yui3-u-3-8, .yui3-u-5-8, .yui3-u-7-8, .yui3-u-1-12, .yui3-u-5-12, .yui3-u-7-12, .yui3-u-11-12, .yui3-u-1-24, .yui3-u-5-24, .yui3-u-7-24, .yui3-u-11-24, .yui3-u-13-24, .yui3-u-17-24, .yui3-u-19-24, .yui3-u-23-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
Inherited from div.yui3-g
.yui3-g {
    letter-spacing: -.31em;
    text-rendering: optimizespeed;
}
Inherited from section.focused-view.section-dark
.section-dark {
    color: #FFF;
}
Inherited from body.dark.focused
body {
    font-size: 1em;
    line-height: 1.4;
}
Inherited from html.js.flexbox.canvas.canvastext.webgl.touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths
html, button, input, select, textarea {
    color: #222;
}
html, button, input, select, textarea {
    font-family: sans-serif;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::after element
@media (max-width: 500px)
.focused-view-subtitle.border-center:after {
    margin-top: -12px;
}
.border-center:after {
    background: #53535C;
    content: "";
    display: block;
    height: 1px;
    margin-top: -12px;
}
.border-center{
margin-left: 94px;
}
Pseudo ::selection element
::selection {
    /* background: #b3d4fc; */
    /* text-shadow: none; */
}