
    .page-header {
    max-width: 100%;
    height: 87px;
    margin: 0 auto;
    font-weight: 400;
    background: #09091a;
    color: #fff;
    }

    .uberlogo{
    display: inline-block;
    width: 130px;
    height: 19px;
    }

    .logo-div{
    text-align:center;
    padding-top:27px;
    }

    .page-body{
      width:60%;
      background:#edf0f5;
      left:30px;
    }


    .profile{
      position: relative;
      width:140px;
      height:140px;
      border: 1px solid #c2c2c2;
      border-radius: 50%;
      margin:10px;
     }

    .page-footer{
     text-align:center;
     max-width: 100%;
     margin: 0 auto;
     right:0px;
     bottom:0px;
     height:140px;
     background: #09091a;
     color: #fff;
    }

    .footer{
     display: inline-block;
     width:1280px;
     height:138px;
    }

    .left-div{
      font-family: sans-serif;
      text-align: center;
      left:130px;
      border-left: 1px solid #c2c2c2;
      border-right: 1px solid #c2c2c2;

    }

   .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:black;
    background-color:#1fbad6;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    }

 

       ul.nav > li > a:hover {
        background-color: #1fbad6;
        color: black;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
         border-radius: 0;
    }

    ul.nav > li {
    border-top: 1px solid #c2c2c2;
    }
    
     .starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../images/star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../images/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}