<div class="container">
					<table class="table">
					<thead><strong>Driver Details</strong></thead>
					<tr><td>
					
					Firstname:&nbsp&nbsp{{driverProfile[0].FirstName}}</td></tr>
					<tr><td>Lastname:&nbsp&nbsp{{driverProfile[0].LastName}}</td></tr>
					<tr><td>Email:&nbsp&nbsp{{driverProfile[0].Email}}</td></tr>
					<tr><td>Mobile:&nbsp&nbsp{{driverProfile[0].PhoneNumber}}</td></tr>
					<tr><td>Address:&nbsp&nbsp{{driverProfile[0].Address}}</td></tr>
					<tr><td>City:&nbsp&nbsp{{driverProfile[0].City}}</td></tr>
					<tr><td>State:&nbsp&nbsp{{driverProfile[0].State}}</td></tr>
					<tr><td>Average Rating:&nbsp&nbsp{{driverProfile[0].rating}}</td></tr>
					
					<tr><td>
					<input type="button" class="btn btn-success" value="Delete Driver" ng-click="deleteDri(driverProfile[0].DriverID)"></tr></td>
					<tr><td><a ng-click="back()">Goto Search Page</a></tr></td>
					</table>
				</div>
