<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login_page.css'>
  </head>
    <body class="dark focused">
    <form>
   <selection class="signin focused-view section-dark">
   <div class="yui3-g">
   <article class ="signin-content yui3-u-5-12 yui3-u-m-1 yui3-u-s-1" >
   <p class= "center uber-logo-container">
    <a href="/" class="uber-logo ir">
    ::before "Uber"
    </a>
   </p>

   <p class= "focused-view-subtitle uppercase center border-center">
    <span style="text-align: center; margin-left:auto;margin-right:auto;"> Log In </span>
   </p>

   <div class="island">
    <div class="yui3-g submit">
     <div class="yui-3-u-1">
      <a href="/riderloginPage">
	 <input type="button" value= "LOG IN AS A RIDER" 
	 class= "btn btn-filled uppercase center" style=" border: 2px solid #1fbad6; background-color: #1fbad6;text-align: center; margin-left:auto;margin-right:auto; ">
     </a>
  </div>
   <br>

     <div class="yui-3-u-1">
      <a href="/driverLoginPage">
	<input type="button" value= "LOG IN AS A DRIVER" 
	class= "btn uppercase btn-driver center" style="background-color: #b2b2b2; border: 2px solid #b2b2b2; text-align: center; margin-left:auto;margin-right:auto;">
      </a>
     </div>
    </div>
   </div>

  </article>
 </div>
</section>
</form>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </body>
    
</html>