<div class="container-fluid" style="padding-left:120px">
<br>
 <center><label style="font-size:20px">User Profile</lable></center>
 <br>
 <center>
 	<table class="table" border="2" style="width:350px">
					<tr><td><b>Firstname</b>:&nbsp&nbsp{{user.FirstName}}</td></tr>
					<tr><td><b>Lastname</b>:&nbsp&nbsp{{user.LastName}}</td></tr>
					<tr><td><b>Email</b>:&nbsp&nbsp{{user.Email}}</td></tr>
					<tr><td><b>Mobile</b>:&nbsp&nbsp{{user.PhoneNumber}}</td></tr>
					<tr><td><b>Address</b>:&nbsp&nbsp{{user.Address}}</td></tr>
					<tr><td><b>City</b>:&nbsp&nbsp{{user.City}}</td></tr>
					<tr><td><b>State</b>:&nbsp&nbsp{{user.State}}</td></tr>
					<tr><td><b>Zipcode</b>:&nbsp&nbsp{{user.ZipCode}}</td></tr>
</table>
</center>
</div>
